@import 'general';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    column-gap: 10%;
    padding-top: 8rem;
    position: relative;
}

.block_wrapper{
    display: flex;
    column-gap: 3rem;
    row-gap: 4rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    
    
}

.search_field{
    margin: 4rem 0 5rem;
    background: $bg;
}
