@import 'colors';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    column-gap: 10%;
    padding-top: 8rem;
    position: relative;
}

.block_wrapper{
    display: flex;
    column-gap: 3rem;
    row-gap: 4rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    
    .block{
        width: 25%;
        border: 2px solid #7f6e88;
        padding: 20px;
        background: #fff;
        border-radius: 38px;
        display: flex;
        flex-direction: column;


        .img_wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            
            img{
                border-radius: 20px;
                border: 2px solid #7f6e88;
            }

        }
        .text_wrapper{
            h4{
                font-size: 1rem;
            }
            p{
                font-size: 0.9rem;
            }
        }
    }
}

.search_field{
    margin: 4rem 0 5rem;
    background: $bg;
}
